In [23]:
import pandas as pd
from datetime import datetime

In [33]:
data = pd.read_csv('spx_final.csv')

In [34]:
df = pd.DataFrame(data)

In [37]:
df

,dt_add,founded,hq,name,sector,sub_industry,ticker
0,1976-08-09,1902,"St. Paul, Minnesota",3M Company,Industrials,Industrial Conglomerates,MMM
1,1964-03-31,1888,"North Chicago, Illinois",Abbott Laboratories,Health Care,Health Care Equipment,ABT
2,2012-12-31,2013 (1888),"North Chicago, Illinois",AbbVie Inc.,Health Care,Pharmaceuticals,ABBV
3,2018-05-31,1981,"Danvers, Massachusetts",Abiomed,Health Care,Health Care Equipment,ABMD
4,2011-07-06,1989,"Dublin, Ireland",Accenture plc,Information Technology,IT Consulting & Other Services,ACN
...,...,...,...,...,...,...,...
500,1997-10-06,1997,"Louisville, Kentucky",Yum! Brands Inc,Consumer Discretionary,Restaurants,YUM
501,2019-12-23,1969,"Lincolnshire, Illinois",Zebra Technologies,Information Technology,Electronic Equipment & Instruments,ZBRA
502,2001-08-07,1927,"Warsaw, Indiana",Zimmer Biomet,Health Care,Health Care Equipment,ZBH
503,2001-06-22,1873,"Salt Lake City, Utah",Zions Bancorp,Financials,Regional Banks,ZION
504,2013-06-21,1952,"Florham Park, New Jersey",Zoetis,Health Care,Pharmaceuticals,ZTS

In [36]:
df.rename({'symbol': 'ticker'}, axis=1, inplace=True)

In [38]:
df.set_index('ticker')

,dt_add,founded,hq,name,sector,sub_industry
ticker,,,,,,
MMM,1976-08-09,1902,"St. Paul, Minnesota",3M Company,Industrials,Industrial Conglomerates
ABT,1964-03-31,1888,"North Chicago, Illinois",Abbott Laboratories,Health Care,Health Care Equipment
ABBV,2012-12-31,2013 (1888),"North Chicago, Illinois",AbbVie Inc.,Health Care,Pharmaceuticals
ABMD,2018-05-31,1981,"Danvers, Massachusetts",Abiomed,Health Care,Health Care Equipment
ACN,2011-07-06,1989,"Dublin, Ireland",Accenture plc,Information Technology,IT Consulting & Other Services
...,...,...,...,...,...,...
YUM,1997-10-06,1997,"Louisville, Kentucky",Yum! Brands Inc,Consumer Discretionary,Restaurants
ZBRA,2019-12-23,1969,"Lincolnshire, Illinois",Zebra Technologies,Information Technology,Electronic Equipment & Instruments
ZBH,2001-08-07,1927,"Warsaw, Indiana",Zimmer Biomet,Health Care,Health Care Equipment
ZION,2001-06-22,1873,"Salt Lake City, Utah",Zions Bancorp,Financials,Regional Banks
ZTS,2013-06-21,1952,"Florham Park, New Jersey",Zoetis,Health Care,Pharmaceuticals

In [39]:
df.to_csv('wiki.csv')

In [28]:
def date_conv(x):
    try:
        return datetime.strptime(x, '%d/%m/%Y')
    except:
        return x

In [29]:
df['dt_add'] = df['dt_add'].apply(date_conv)

In [30]:
df.dtypes

dt_add          object
founded         object
hq              object
name            object
sector          object
sub_industry    object
symbol          object
dtype: object

In [21]:
test = '1976-08-09'

In [32]:
date = datetime.strptime(test, '%Y-%')

ValueError: time data '1976-08-09' does not match format '%d/%m/%Y'