In [2]:
import pandas as pd
import re

In [15]:
data = pd.read_csv('yhoo_sustain.csv')

In [16]:
df = pd.DataFrame(data)

In [17]:
df

,env_risk,esg_score,gov_risk,name_tk,social_risk
0,12.8,35,8.4,3M Company (MMM),14.0
1,3.0,30,10.6,Abbott Laboratories (ABT),16.2
2,0.6,29,11.3,AbbVie Inc. (ABBV),17.1
3,0.6,11,5.8,Accenture plc (ACN),5.0
4,0.2,17,6.2,"Activision Blizzard, Inc. (ATVI)",10.7
...,...,...,...,...,...
448,9.0,22,7.0,"Xilinx, Inc. (XLNX)",6.0
449,4.0,16,5.0,Xylem Inc. (XYL),8.0
450,4.0,21,4.0,"Yum! Brands, Inc. (YUM)",13.0
451,5.0,34,10.0,"Zimmer Biomet Holdings, Inc. (ZBH)",19.0
452,2.0,24,12.0,Zoetis Inc. (ZTS),10.0

In [18]:
df['name_tk2'] = df['name_tk'].astype(str).apply(lambda x: re.findall(r"(.+) \((\w+)",x))
df['ticker'] = df['name_tk2'].apply(lambda x: x[0][1])
df.drop(columns=['name_tk2','name_tk'], inplace=True)
df.set_index('ticker')
df.to_csv('sustain.csv')